$img-dir: '../images/';
$branco: #fff;
$vermelho: #f00;
$verde: #00a89d;
$verde-destaque: #039d93;
$roxo: #5f328a;
$roxo-destaque: #522b78;
$cinza-claro: #f5f5f5;
$cinza: #e4e4e4;
$cinza-escuro: #9f9f9f;
$penumbra: #bdbdbd;
$penumbra-2: #a5a5a5;
$adminbar-current-c: $verde;
$adminbar-current-bgc: $roxo;
$wpadminbar-bgc: $roxo;
$wpadminbar-c: $branco;
$adminbar-ab-icon: $branco;
$sombra: #888;
